*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Bhaina 2', cursive;
  color:#58402c;
}
// variabili
$border: 2px solid black;

header {
  position: fixed;
  top:0;
  padding:0 15%;
  border-bottom: 1px solid grey;
  height: 100px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.logo{
  width: 10%;
  height: 50%;
  border:$border;
  img{
    width: 100%;
    height: 100%;
  }
}
.header-search{
  width: 45%;
  height: 50%;
  ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    list-style-type: none;
    li{
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
main {
  height: 100%;
}
.content{
  h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  h3{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 400;
  }

}

@mixin button{
  width:180px;
  height: 40px;
  background: #30488f;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:white;
  text-decoration: none;
}
@mixin sec-1-footer {
  background: white;
  height:600px;
  width: 100%;
  padding:50px 100px;
}
@mixin sec-2-3-8 {
  background: #ffe7d2;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:3% 25%;
  text-align: center;

}

.content-ahref {

  width: 80%;
  display: flex;
  align-items: center;
  a {
  @include button;
  margin-right: 15px;
    + p + a{
      margin-left: 15px;
    }
  }
}

main {
  #sec1{
    @include sec-1-footer;
    margin-top: 100px;
    padding: 50px 15%;
    display:flex;
    .content{
      width: 50%;
      height: 100%;
    }
    .jumbo{
      width: 50%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  #sec2{
    position: relative;
    &:before {
      content : "";
      position: absolute;
      left    : 15%;
      bottom  : 0;
      height  : 1px;
      width   : 70%;  /* or 100px */
      border-bottom:1px solid grey;
    }
  }
  #sec2,#sec3,#sec8 {
    @include sec-2-3-8;
    .sec2-img {
      display: flex;
      justify-content: center;
      img{
        width: 40%;
        height: 100%;
      }
    }
    > div {
      height: 35%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      > div {
        height: 100%;
        width: 30%;
        &:nth-child(3) img{
          width: 50%;
        }
        img {
          height: 60%;
          width: 100%;

        }
      }
    }
    }


}
// mixin testo sezione 4 5 6 7
@mixin sec4-5-6-7{
  background: white;
  margin:50px 200px 50px 50px;
  height: 700px;
   > img {
    width: 50%;
    height: 100%;
    background: red;
  }
  .sec4-text{
    width: 50%;
    height: 100%;
    h2{
     font-size: 28px;
     font-weight: 600;
     margin-bottom: 5px;
     }

    h4{
      font-size: 23px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    a {
      color:#30488F;
      font-size: 23px;
      text-decoration: none;
    }
  }
}

#sec5 img,#sec7 img {
  order:2;
}
#sec4,#sec5,#sec6,#sec7{
  display: flex;
  @include sec4-5-6-7;
}
// mixin images 4 and 6
@mixin sec4-6-img{

}
footer{
  background: black;
  height: 500px;
}
