// inizio mixin testo sezione 4 5 6 7
@mixin sec4-5-6-7{
  background: white;
  margin:50px 200px 50px 50px;
  height: 700px;
   > img {
     width: 57%;
     height: 80%;
  }
  .sec4-text{
    display: flex;
    flex-direction: column;
    img{
      width: 280px;
      margin-top: 20px;
    }

    width: 50%;
    height: 100%;
    h2{
     font-size: 28px;
     font-weight: 600;
     margin-bottom: 5px;
     }

    h4{
      font-size: 23px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    a {
      color:#30488F;
      font-size: 23px;
      text-decoration: none;
    }
  }
}
// fine mixin testo sezione 4 5 6 7
// inizio mixin bottoni
@mixin button{
  width:180px;
  height: 40px;
  background: #30488f;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color:white;
  text-decoration: none;
}
// fine mixin bottoni
// inizio mixin sec1 e footer
@mixin sec-1-footer {
  background: white;
  height:600px;
  width: 100%;
  padding:50px 100px;
}
// fine mixin sec1 e footer
// inizio mixin sec 2 3 8
@mixin sec-2-3-8 {
  background: #ffe7d2;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding:3% 25%;
  text-align: center;
}
// fine mixin sec 2 3 8
